.row
  .col-xs-2
    %h5 Tickets Sold:
  .col-xs-2
    %strong #{@event.tickets_sold || 0}  ( #{@ticket_percentage} % )
  .col-xs-2
    %h5 Max Tickets:
  .col-xs-2
    %strong= @event.ticket_limit
  .col-xs-2
    %h5 Current Sales:
  .col-xs-2
    %strong $ #{@current_sales}
.row
  .col-xs-12
    .table-responsive
      %table.table
        %thead
          %th Email
          %th Confirmation #
          %th Last Four
          %th # of Tickets
          %th Date Purchased
          %th Amount Paid
        %tbody
          - @purchases.order("email").each do |purchase|
            %tr
              %td=purchase.email
              %td=purchase.conf_num
              %td=purchase.lastfour
              %td=purchase.quantity
              %td=purchase.created_at.getlocal.strftime("%_m / %e / %_y")
              %td=number_to_currency(purchase.amount.to_i / 100)
