#event-display-one
  .event-third
    .event-content-left.about-panel
      %h2 Party With Us
      - @pictures.each do |pic|
        =image_tag(pic)
  .event-third
    .event-content-middle.about-panel
      %h2 We Are Party Bassics
      %p Today, Electric Forest announced ticket information and on sale dates for the 5th annual music and camping festival at the legendary Double JJ Ranch in Rothbury, Michigan. The festival, which will take place on June 25-28, 2015, has been hailed as one of the "20 legendary world festivals to see in your lifetime" (Distractify). Electric Forest 2015 promises to deliver the ultimate festival experience with its unparalleled integration of music, art and community.
  .event-third
    .event-content-right.about-panel
      %h2 Contact Us
      .about-contact
        %h4 Professional
        %a{:href => "mailto:partybassics@gmail.com", :target => "new"} <h5>partybassics@gmail.com</h5>
      .about-contact
        %h4 Social
        %a{:href => "https://www.facebook.com/partybassicsusa", :target => "new"} <h5>facebook.com/partybassicsusa</h5>
        %a{:href => "https://www.facebook.com/groups/partybassics/", :target => "new"} <h5>facebook.com/groups/partybassics</h5>
        %a{:href => "https://twitter.com/partybassics", :target => "new"} <h5>@partybassics</h5>
        %a{:href => "http://instagram.com/partybassics", :target => "new"} <h5>instagram.com/partybassics</h5>
        %a{:href => "http://www.eventbrite.com/o/party-bassics-5693583035", :target => "new"} <h5>on eventbrite.com</h5>
