.row.full-screen
  .col-xs-12.site-container.full-screen
    .panelL.third-screen
      =image_tag("face-panel-blue.png", class: "tryptL full-screen")
      =image_tag("face-panel-bright.png", class: "trypt-brightL full-screen")
    .panelC.third-screen
      =image_tag("face-panel-blue.png", class: "tryptC full-screen")
      =image_tag("face-panel-bright.png", class: "trypt-brightC full-screen")
    .panelR.third-screen
      =image_tag("face-panel-blue.png", class: "tryptR full-screen")
      =image_tag("face-panel-bright.png", class: "trypt-brightR full-screen")
