.row.admin-text.admin-top
  .col-xs-12
    %h1 Our Privacy Statement
  .col-xs-12
    %p You might be wondering what happens when you click the Facebook "Like" button. What happens is we request basic information that is publicly available on Facebook. This includes your email address, your facebook profile page, and your gender. We use your email address to send invitations to our events. We provide "unsubscribe" links in all of our emails, and we promise to honor your request. Your facebook profile is used to invite you to our events, if you have liked our page. Your gender is used for statistical data, such as determining the percentage of male and female users who purchase tickets.
