- if !@page.title.empty?
  %input#partial-title{:type => "hidden", :value => "#{@page.title}"}
  <script>document.title = $('#partial-title').val()</script>
#events-display-panel
  #events-arrow-left-container.arrow-container
    #events-arrow-left
  #events-scroll-window
    #events-scroll-panel
      - @events.each do |event|
        .event-cell{:data => {:id => event.id, :current => @current_event.id}}
          =render partial: 'flyer', locals: { event: event }
          .event-cell-info
            %h4=event.title
            %h5=event_date(event.date).strftime("%a %b %d, %Y")
  #events-arrow-right-container.arrow-container
    #events-arrow-right
