#events-display-panel
  #events-arrow-left-container.arrow-container
    #events-arrow-left
  #events-scroll-window
    #events-scroll-panel
      - @events.each do |event|
        .event-cell{:data => {:id => event.id, :current => @current_event.id}}
          - if File.exists? event.flyer.versions[:portrait].path
            .event-flyer.portrait{:style => "background-image: url(#{asset_path(event.flyer.versions[:portrait].display)})"}
          - elsif File.exists? event.flyer.versions[:landscape].path
            .event-flyer.landscape{:style => "background-image: url(#{asset_path(event.flyer.versions[:landscape].display)})"}
          .event-cell-info
            %h4=event.title
            %h5=event_date(event.date).strftime("%a %b %d, %Y")
  #events-arrow-right-container.arrow-container
    #events-arrow-right
