.row
  .col-xs-12
    - @events.each do |event|
      .col-xs-4.admin-text

        .row
          .col-xs-12.events-index-cell-header
            %h2=event.title
            %h5=event.venue
            - if event.date
              %h5=event_date(event.date).strftime("%A, %B %d, %Y")
            - if !event.time.empty?
              %h5=event_time(event.time)
          .col-xs-12.events-index-cell-flyer
            =image_tag(asset_path(event.flyer))
        .row
          .col-xs-12.events-index-cell-buttons
            = button_to "Edit", edit_event_path(event.id), :method => :get
            = button_to "Delete", event, data: {confirm: "Are you sure you want to delete the event '#{event.title}' on #{event_date(event.date).strftime("%b %d %y")}?"}, :method => :delete
