.row
  .col-xs-3
  .col-xs-6.admin-text
    =form_for @event, html: { multipart: true } do |f|
      %fieldset
        %legend Add an Event
        = if @event.errors.any?
          .row.form-row
            .col-xs-12
              %h2 Errors:
              %ul
                = @event.errors.full_messages.each do |m|
                  %li=m
        .row.form-row
          .col-xs-4
            =f.label :title
          .col-xs-4
            =f.text_field :title
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :facebook_id do
              <label for="event_facebook_id">Facebook Event ID</label>
          .col-xs-4
            =f.text_field :facebook_id
            .row
              .col-xs-12
                <small>Ex: "https://www.facebook.com/events/<small class="asterisk">1513721735555120</small>/?...."</small>
                <small>Must be a Public event, can't be invite-only or FB won't send the info.</small>
          .col-xs-4
            %button#facebook-event Get Info from Facebook
        .row.form-row
          .col-xs-4
            =f.label :date
          .col-xs-8
            =f.date_select :date
        .row.form-row
          .col-xs-4
            =f.label :time
          .col-xs-4
            =f.time_field :time
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :description
          .col-xs-4
            =f.text_area :description
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :venue
          .col-xs-4
            =f.text_field :venue
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :city
          .col-xs-4
            =f.text_field :city
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :street do
              Street Address
          .col-xs-4
            =f.text_field :street
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :zip do
              Zip Code
          .col-xs-4
            =f.text_field :zip
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :price
          .col-xs-4
            =f.text_field :price
            .row
              .col-xs-12
                <small> Ex: <small class="asterisk">10.95</small> No dollar sign needed!</small>
              .col-xs-12
                %small If free or you don't want to sell tickets online, just leave blank.
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :ticket_limit do
              Number of Tickets to Sell
          .col-xs-4
            =f.text_field :ticket_limit
            .row
              .col-xs-12
                %small If free or you don't want to sell tickets online, just leave blank.
          .col-xs-4
        .row.form-row
          .col-xs-4
            =f.label :flyer do
              Flyer <small class="asterisk"> *</small>
          .col-xs-4
            =f.file_field :flyer, :required => true
          .col-xs-4
        .row.form-row
          .col-xs-4
          .col-xs-4
            =f.submit "Add the Event, yo!", :class => "submit-custom"
          .col-xs-4

        .row
          .col-xs-12
            %label.required-label
              %small.asterisk * required


  .col-xs-3
