.row
  .col-xs-3
  .col-xs-6.admin-text.admin-top
    =form_for @contact, :url => "/contacts/subscribe-this/" do |f|
      %fieldset
        %legend Add Me to The List
        .row.form-row
          .col-xs-3
            =f.label :email
          .col-xs-6
            =f.text_field :email
          .col-xs-3
        .row.form-row
          .col-xs-4
          .col-xs-4
            =submit_tag "Sign Me Up!"
          .col-xs-4
  .col-xs-3
