.row
  .col-xs-3
  .col-xs-6.admin-text.admin-top
    =form_for @contact, :url => "/contacts/update/#{@contact.id}" do |f|
      %fieldset
        %legend Stop Sending Me Stuff!
        .row.form-row
          .col-xs-2
          .col-xs-8
            =f.check_box :unsubscribed
            =f.label_tag "Email: #{@contact.email}"
          .col-xs-2
        .row.form-row
          .col-xs-4
          .col-xs-4
            =submit_tag "Remove Me!"
          .col-xs-4
  .col-xs-3
