html, body {
  height: 100%;
}
h4 {
  text-align: center;
}

div {
  vertical-align: top;
}

.email-container {
  min-height: 20em;
  height: auto;
  height: 100%;
  overflow-y: auto;
}
.email-two-panel {
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  div {
    min-width: 40%;
  }
  .email-left {
    text-align: left;
    min-width: 40%;
    max-width: 40%;
  }
  .email-right {
    text-align: center;
    min-width: 40%;
    max-width: 40%;
  }
}
