@font-face {
  font-family: "Audiowide";
  src: font-url("fonts/Audiowide-Regular.ttf");
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

h1 {
  color: rgba(230, 0, 90, .9);
  font-family: "Audiowide";
  font-weight: 600;
  font-size: 175%;
  text-shadow: 0px 0px 20px rgba(250, 250, 75, .9);
}

.container-fluid {
  height: 100%;
  width: 100%;
  min-height: 100%;
  //overflow-y: hidden;
  overflow-y: auto;
  margin: 0px auto;
}

#folds-container {
  position: relative;
  z-index: -1;
  margin: 0px auto;
}

#content-container {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 1%;
}

.full-screen {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0px auto;
}

.half-screen {
  height: 100%;
  min-height: 100%;
  width: 50%;
}

.three-quarters-screen {
  height: 100%;
  min-height: 100%;
  width: 75%;
}

.two-thirds-screen {
  height: 100%;
  min-height: 100%;
  width: 66%;
}

.third-screen {
  height: 100%;
  min-height: 100%;
  width: 33%;
}

.site-container {
  display: block;
  position: relative;
}

div[class^="fold"], div[class^="panel"] {
  display: inline-block;
  position: absolute;
  top: 0;
  //border: 1px dotted white;
}

div[class^="fold"] {
  margin: 0px auto;
  padding: 0px;
  display: inline-block;
}

.foldL {
  left: 0;
}

.foldR {
  //right: 0;
}

.panelL {
  z-index: -2;
  left: 0;
  //border: 1px dotted pink;
}

.panelC {
  z-index: -1;
  //border: 1px dotted white;
}

.panelR {
  z-index: -3;
  //right: 0;
  //border: 1px dotted lightblue;
}

[class^="trypt"] {
  position: absolute;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 0;
  opacity: .5;
  z-index: -2;
}

[class^="trypt-bright"] {
  z-index: -1;
  opacity: .2;
}

.content-panel {
  width: 50%;
  margin: 0px auto;
  background-color: rgba(10, 10, 10, .7);
  padding: 1%;
  border-radius: 30px;
}

[id^="event_date"] {
  display: inline-block;
  width: 30%;
}

.form-row {
  margin: 1em auto;
}

.submit-custom {
  margin: 1.5em auto 0em auto;
}

.events-index-cell-header {
  h2 {
    text-align: center;
  }
  h5 {
    margin: .5em;
  }
}
.events-index-cell-flyer {
  text-align: center;
  img {
    min-width: 50%;
    max-width: 50%;
    margin: 0em auto;
  }
}
.events-index-cell-buttons {
  text-align: center;
  margin: 1em;
}




@media (min-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 7px;
  }
}
